@import "material-theme";


.full-article,
.new-article {
  width: 100%;

  .text-block {
    padding: 1em;
    display: table-cell;
  }

  .title {
    font-size: 1.7em;
    display: table-cell;
  }

  .article {
    margin: 1em 0;

    &.hidden {
      display: none;
    }
  }

  .article-translation {
    margin: 1em 0;

    &.transtation-block-open {
        @extend .card;


    }
  }

  .category {
    @extend .filter;
  }

  .filter {
    text-decoration: none;
  }

  label {
    font-weight: bold;
    margin: .5em 0;
    display: block;
  }

  .textarea {
    width: 99%;
  }
}

.new-article {
  .title {
    font-size: 1em;
  }
}

.text-block{
  &.hidden {
    display: none;
  }
}

.article-translation {
  color: #717171;
}
