.nav-menu {
  clear: both;
  display: flex;

  .nav-item {
    justify-content: space-around;
    list-style: none;

    & a {
      color: $color-2;
      text-decoration: none;

      &:hover {

      }

      &:visited {
        color: $color-2;
      }
    }

    &.active {
      font-weight: bold;
    }
  };
}