.register-block {
  width: 49%;
  float: left;
  text-align: right;
  border-right: 1px solid #fff;
  padding-right: .9em;
}

.login-block {
  float: right;
  width: 48%;
  padding-left: .8em;

  .btn {
    margin-top: 2.7em;
  }
}

.register-block,
.login-block {

  .form-group {
    margin: .5em 0;
  }

  .error,
  .warn {
    color: $color-5;
    font-size: .7em;
  }
}

.auth-error {
  color: $color-5;
  text-align: center;
}

@media (max-width: 61.9em) {

  .register-block,
  .login-block {
    width: 14em;
    float: none;
    margin: 0 auto;
    text-align: left;
    border-right: 0;

    padding: .8em;

    .text-input {
      margin: 0;
      width: 13em;
    }
  }

  .login-block {
    border-top: 1px solid #fff;

    .btn {
      margin-top: 0;
    }
  }

}

